{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BondTracker {% block title %}{% endblock %}</title>
        <style>
         th {
             text-align: right;
         }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
        <link rel="stylesheet" type="text/css" href="/static/sitewide_style.css" />
        <link rel="stylesheet" type="text/css" href="/static/reports/reports_style.css" />

        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    </head>
    <body>
        <div id="header">
            <p>
                BondTracker - Reports
            </p>

            {% block nav %}{% endblock %}
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
